extends layout

block content
	h1= Kandu
	div.boat
		table
			tr
				td PathNumber
				td NodeNumber
				td Latitude
				td Longitude
			each record in data
				tr
					td= record.pathNumber
					td= record.path.nodeNumber
					td= record.path.location.latitude
					td= record.path.location.longitude
