extends layout

block content
	h1= title
	//- p= users
	- if (userList) {
		div#userList
			ul
				each user in userList
					li
						a(href='/map/' + user.id)=user.name
		
	- }

	div#map(style="height: 100vh; width: 100%")
		script.
			function initMap() {
			var maldives = {lat: 4.178044, lng: 73.505828};
			var center = maldives;
			if (selectedUser !== null) {
				console.log('selectedUser: ', selectedUser)
				var selectedUser = !{JSON.stringify(selectedUser).replace(/<\//g, '<\\/')};
				center = (selectedUser) ? {lat: selectedUser.lastLocation.latitude, lng: selectedUser.lastLocation.longitude} : center
			}

			//- var markerArray = [];
			console.log('Centered on: ', center)
			
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 16,
				center: center
			});

			poly = new google.maps.Polyline({
				strokeColor: 'blue',
				strokeOpacity: 0.8,
				strokeWeight: 2
			});
			poly.setMap(map);

			var userList = !{JSON.stringify(userList).replace(/<\//g, '<\\/')};

			if(paths !== null){
				console.log('PATHS EXIST')
				var paths = !{JSON.stringify(paths).replace(/<\//g, '<\\/')};

				paths.forEach((p) => {
					var pArr = poly.getPath();
					//- console.log('This is the path: ', p)
					p.path.forEach((node) => {
						//- console.log('Node', node)
						let latLng = new google.maps.LatLng(node.latitude, node.longitude);
						pArr.push(latLng)
					})
				})

			} else { console.log('No paths') }

			console.log(userList[0])
			console.log('Paths:', paths)


			userList.forEach((user) => {
				console.log(user.lastLocation.latitude);
				var latLng = new google.maps.LatLng(user.lastLocation.latitude, user.lastLocation.longitude);
				var marker = new google.maps.Marker({
					position: latLng,
					map: map
				});
			});

			  //- var marker = new google.maps.Marker({
			  //-   position: {lat: x.lastLocation.latitude, lng: 73.505828},
			  //-   map: map
			  //- });
			}

		script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0g37AIh4J1U1YeO_cN9g0gxnv6YnreYQ&callback=initMap")
